* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 22px;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex; /* Use flex container for the entire body */
    flex-direction: column;
    /* testcomment */
}
  

.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh; 
    width: 100%; 
    max-width: 500px;
    border: 5px solid #1d3557;
    border-radius: 10px;
    margin: auto;
  }

header {
    height: 35px;
    width: 100%;
    padding: 0 0.25em;
    background-color: #1d3557;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 600;
  }
  
footer {
    font-size: 18px;
    height: 35px;
    width: 100%;
    padding: 0 0.25em;
    background-color: #1d3557;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Body {
  display: flex;
  width: 100%;
  flex: 1; 
  justify-content: center;
  align-items: flex-start;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #f1faee;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 30px;
  min-width: 30px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg {
  width: 33px;
  min-width: 33px;
  height: 25px;
  font-size: 1rem;
  color: #457b9d;
  cursor: pointer;
}

.item svg:focus, 
.item svg:hover {
  color: #e63946;
  outline: none;
}


.addForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}

.addForm label {
  position: absolute;
  left: -99999px;
}

.addForm input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 30px;
  font-size: 20px;
  padding: 0.25rem;
  padding-left: 15px;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  margin-bottom: 5px;
}

button {
  height: 37px;
  min-width: 48px;
  border-radius: 0.25rem;
  /* padding: 0.5rem;  */
  padding-top: 5px;
  font-size: 20px;
  background-color: aliceblue;
  color: #1d3557;
  cursor: pointer;
}

button:focus, 
button:hover {
  color: white;
  background-color: #457b9d;
  outline: none;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* margin: 0.25rem 0 0; */
  margin-bottom: 10px;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 30px;
  font-size: 20px;
  padding: 0.25rem;
  padding-left: 15px;
  border-radius: 0.25rem;
  outline: none;
}
