* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 22px;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex; /* Use flex container for the entire body */
    flex-direction: column; 
}
  

.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh; 
    width: 100%; 
    max-width: 500px;
    border: 1px solid #1d3557;
    margin: auto;
  }

header {
    height: 30px;
    width: 100%;
    padding: 0 0.25em;
    background-color: #1d3557;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
footer {
    font-size: 18px;
    height: 35px;
    width: 100%;
    padding: 0 0.25em;
    background-color: #1d3557;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Body {
  display: flex;
  width: 100%;
  flex: 1; 
  justify-content: center;
  align-items: center;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #f1faee;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: #457b9d;
  cursor: pointer;
}

.item svg:focus, 
.item svg:hover {
  color: #e63946;
  outline: none;
}
